{% extends 'index.html'%}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #fff; /* White */
    color: #555555;
  }
  </style>
</head>
<body>

<div class="container-fluid bg-1 text-center">
  
  <img src="https://images.squarespace-cdn.com/content/v1/60945d8d5d48475a9638f008/1625764266985-8EG1MT7D2HCEOBGQ9Y5I/Service+Board+4B.png?format=500w" class="img-circle"  width="350" height="350">
  <h3>Product Design</h3>

</div>

<div class="container-fluid bg-2 text-center">
  <h3>Product Development Agility</h3>
  <p>Design CATAPULT offers a unique approach to obtaining quality design  services. We have streamlined the design process to provide the maximum  return on your investment. Our development team consists of highly  skilled Industrial  Designers, Mechanical Engineers, Electrical  Engineers, and Manufacturing  Technicians. The DC team concentrates on  what matters: innovating great design  & engineering solutions while  providing you with the best results at an  affordable price.</p>
</div>

<div class="container-blue bg-2 text-center">
    <h3>- Get in touch with us -</h3><br>
    <h3>- HOW TO GET STARTED</h3>
    
    <p>Follow the link below to send us
        an inquiry or give us a call today. BUSINESSDEVELOPMENT@DESIGNCATAPULT.COM </p>
    <a href="#" class="btn btn-default btn-lg">Contact </a>
  </div>
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .bg-1 { 
      background-color: #1abc9c;
      color: #ffffff;
    }
    .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
    }
    .bg-3 { 
      background-color: #ffffff;
      color: #555555;
    }
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    </style>
  </head>
  
  <div class="container-fluid bg-3 text-center">    
    
    <div class="row">
      <div class="col-sm-4">
        <p>GLO Science brings together intuitive design and breakthrough technology to create a truly radical teeth-whitening innovation for you at home. The patent-pending Guided Light Optics technology radically redefines the teeth whitening experience by using heat and light to accelerate and stabilize the whitening results.</p>
        <img src="https://images.squarespace-cdn.com/content/v1/60945d8d5d48475a9638f008/1621032962217-4ED3QGP3BBM7WOE44MKP/Portfolio_3_Large_D.png?format=500w" alt="Image" width="350" height="300">
      </div>
      <div class="col-sm-4"> 
        <p>The G-Vial delivery system contains a highly-viscous, thixotropic formula that, when applied, adheres to your teeth without getting on gums and other soft tissue. The GLO mouthpiece contains a molded flexible circuit with activating light and heat that, when placed into your mouth, accelerates the GLO Whitening Gel on your teeth.</p>
        <img src="https://images.squarespace-cdn.com/content/v1/60945d8d5d48475a9638f008/1621033013644-9P0EROPBEX0POH0PLWCE/Portfolio_3_Large_B.png?format=500w" alt="Image" width="350" height="300">
      </div>
      <div class="col-sm-4"> 
        <p>his process creates greater efficacy and speeds up whitening results without tooth sensitivity. The GLO Mouthpiece seals the system, preventing whitening oxygens from escaping the surface of the teeth. As it warms up, it form fits to your mouth, whitening the top and bottom teeth—from the front and back.</p>
        <img src="https://images.squarespace-cdn.com/content/v1/60945d8d5d48475a9638f008/1621033053794-XE3QZBUGFVF1U271M192/Portfolio_3_Large_C.png?format=500w" alt="Image" width="350" height="300">
      </div>
    </div>
  </div>
  
</body>
</html>


{% endblock body %}